<app-projects-page
  [projects]="projects()"
  [openedProject]="openedProject()"
  [settingsOpen]="settingsOpen()"
  [settingsProject]="settingsProject()"
  [addFormOpen]="addFormOpen()"
  [projectPath]="projectPath"
  [providerCommand]="providerCommand"
  [error]="error()"
  (addFormOpenChange)="addFormOpen.set($event)"
  (projectPathChange)="projectPath = $event"
  (providerCommandChange)="providerCommand = $event"
  (refreshProjects)="refreshProjects()"
  (addProject)="addProject()"
  (openProject)="openProject($event)"
  (closeProject)="closeProject()"
  (openSettings)="openSettings()"
  (closeSettings)="closeSettings()"
  (saveProvider)="saveProvider()"
  (clearProvider)="clearProvider()"
  (removeProject)="removeProject($event.project, $event.event)"
/>

<div class="busy" *ngIf="busy()">Загрузка...</div>
