<app-projects-page
  *ngIf="screen() === 'projects'"
  [projects]="projects()"
  [activeProjectId]="activeProjectId()"
  [addFormOpen]="addFormOpen()"
  [projectPath]="projectPath"
  [error]="error()"
  (addFormOpenChange)="addFormOpen.set($event)"
  (projectPathChange)="projectPath = $event"
  (openCommands)="openCommandList()"
  (refreshProjects)="refreshProjects()"
  (addProject)="addProject()"
  (openProject)="openProject($event)"
  (removeProject)="removeProject($event.project, $event.event)"
/>

<app-tasks-page
  *ngIf="screen() === 'tasks'"
  [project]="activeProject()"
  [tasks]="tasks()"
  [activeTaskId]="taskId()"
  [currentRunTaskId]="currentRunTaskId()"
  [currentRunId]="currentRunId()"
  [error]="error()"
  (backToProjects)="backToProjects()"
  (refreshTasks)="refreshTasks()"
  (newTask)="newTask()"
  (openTask)="loadTask($event)"
/>

<app-workspace-page
  *ngIf="screen() === 'workspace'"
  [project]="activeProject()"
  [config]="config()"
  [command]="command()"
  [worker]="worker()"
  [workerDetail]="workerDetail()"
  [timeline]="timeline()"
  [hasOlderMessages]="hasOlderMessages()"
  [loadingOlderMessages]="loadingOlderMessages()"
  [chatEmptyText]="chatEmptyText()"
  [taskText]="taskText"
  [providerCommand]="providerCommand"
  [teamMembers]="teamMembers()"
  [steps]="steps()"
  [currentStep]="currentStep()"
  [doneSteps]="doneSteps()"
  [currentRunId]="currentRunId()"
  [currentRunTaskId]="currentRunTaskId()"
  [currentRole]="currentRole()"
  [taskId]="taskId()"
  [activeTask]="activeTask()"
  [processNote]="processNote()"
  [providerActivity]="providerActivity()"
  [publicReasoning]="publicReasoning()"
  [providerResult]="providerResult()"
  [elapsedLabel]="elapsedLabel()"
  [lastRun]="lastRun()"
  [canStop]="canStop()"
  (backToProjects)="backToProjects()"
  (togglePalette)="paletteOpen.set(!paletteOpen())"
  (commandChange)="command.set($event)"
  (newCommand)="newCommand()"
  (editCommand)="editCommand()"
  (taskTextChange)="taskText = $event"
  (composerKeydown)="onComposerKeydown($event)"
  (runTask)="runTask()"
  (providerCommandChange)="providerCommand = $event"
  (saveProvider)="saveProvider()"
  (clearProvider)="clearProvider()"
  (openTasks)="openTasksPage()"
  (newTask)="newTask()"
  (stopRun)="stopRun()"
  (scrolledToTop)="onTimelineScroll()"
/>

<app-command-editor-page
  *ngIf="screen() === 'command-editor'"
  [commandDraft]="commandDraft"
  [commandOriginalName]="commandOriginalName"
  [roles]="commandDraftRoles"
  [employees]="commandDraftEmployees"
  [steps]="commandDraftSteps"
  [selectedPipelineStepIndex]="selectedPipelineStepIndex()"
  [selectedEditorItem]="selectedEditorItem()"
  [draggedPipelineStepIndex]="draggedPipelineStepIndex()"
  [draggedEmployeeIndex]="draggedEmployeeIndex()"
  [pipelineDropTargetIndex]="pipelineDropTargetIndex()"
  [selectedRole]="selectedRole()"
  [selectedEmployee]="selectedEmployee()"
  [selectedStep]="selectedStep()"
  (closeEditor)="closeCommandEditor()"
  (saveCommand)="saveCommand()"
  (selectCommandSettings)="selectCommandSettings()"
  (addRole)="addRole()"
  (selectRole)="selectRole($event)"
  (removeRole)="removeRole($event)"
  (addEmployee)="addEmployee()"
  (selectEmployee)="selectEmployee($event)"
  (removeEmployee)="removeEmployee($event)"
  (addStep)="addStep()"
  (selectStep)="selectPipelineStep($event)"
  (removeStep)="removeStep($event)"
  (moveStep)="movePipelineStep($event.index, $event.direction)"
  (pipelineDragStart)="onPipelineDragStart($event.event, $event.index)"
  (employeeDragStart)="onEmployeeDragStart($event.event, $event.index)"
  (pipelineDragOver)="onPipelineDragOver($event.event, $event.index)"
  (pipelineDrop)="onPipelineDrop($event.event, $event.index)"
  (clearDragState)="clearPipelineDragState()"
/>

<app-palette
  [open]="paletteOpen()"
  [commands]="config()?.commands || []"
  (projects)="backToProjects()"
  (tasks)="openTasksPage()"
  (newTask)="newTask(); paletteOpen.set(false)"
  (selectCommand)="selectCommand($event)"
  (stopRun)="stopRun(); paletteOpen.set(false)"
/>

<app-command-list
  [open]="commandListOpen()"
  [commands]="config()?.commands || []"
  [employeesCount]="commandEmployeeCount"
  [stepsCount]="commandStepCount"
  (createCommand)="newCommand(); commandListOpen.set(false)"
  (close)="commandListOpen.set(false)"
  (selectCommand)="chooseCommandFromList($event)"
/>

<div class="busy" *ngIf="busy()">Загрузка...</div>
